@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
    
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 50px;
    background: #23242a /******************This is the background color of the page******************/
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    width: 100%;
    
}
.navbar-brand {
    text-transform: uppercase;
    font-size: 1.4em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    position: relative;


}

.navbar-container {
    display: flex;
    justify-content: center;
}


.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 1em;

  }

  .navbar ul li {
    list-style: none;
    padding: 0.01em 0.5em; /* Adjust the padding values as per your preference */
  }
  
  .navbar ul li a {
    font-size: 1.0625em; /* 17px equivalent */
  }
  
  .navbar ul li:hover {
    background-color: rgb(44, 156, 120);
    transition: background-color var(--trans-speed) var(--trans-ease);
    border-radius: 0.4375em; /* 7px equivalent */
  }

  main {
    flex-grow: 1;
}

/* LOGIN AND REGISTER FORM STYLES */
.main-container {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    padding: 10px; 
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.main-container .form {
    position: absolute;
    inset: 10px 10px 10px 10px; /* Adjust the inset values as per your preference */
    background: #222;
    color: #ffffff;
    padding: 40px 42px;
    border-radius: 9px;
    z-index: 2;

}

.heading {
    font-size: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-top: -20px;  /* Adjust as per your preference */
    margin-bottom: 20px; /* Adjust as per your preference */
}

.main-container::before {
    content: '';
    position: absolute;
    top: -50;
    left: -50;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom left;
    animation: animate 6s linear infinite;
}

.main-container::after {
    content: '';
    position: absolute;
    top: -50;
    left: -50;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine {
    position: absoluute;
    top: 0;
    inset: 0;
}
.borderLine::before {
    content: '';
    position: absolute;
    top: -50;
    left: -50;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom left;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after {
    content: '';
    position: absolute;
    top: -50;
    left: -50;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom left;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-container .form .input-box input:focus ~ label,
.main-container .form .input-box input:valid ~ label {
    top: -18px;
    left: 0;
    color: #45f3ff;
    font-size: 0.75em;
}

.main-container .form .input-box i {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #45f3ff;
    transition: 0.5s;
}


.inputBox {
    margin-bottom: 15px;
}

.inputBox label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.inputBox input {
    width: 100%;
    padding: 7px;
    border: 2px solid #2b2a2a;
    background: transparent;
    color: #fff;
    outline: none;
    transition: 0.5s;
}



#login-button {
    display: block;
    padding: 10px 20px;
    background-color: #45cbf8;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    color: #fff;
    text-align: center;
    
}

#login-button:hover {
    background-color: #ff2770;
}
label {
    margin-bottom: 5px;
}

.error {
    color: red;
    margin-bottom: 10px;
    display: none;
}



.toggle-btn .bar {
    height: 0.1875em; /* 3px equivalent */
}

/* .links */
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .1em;
}

.links a {
    color: #7fd0ff;
    text-decoration: none;
    font-size: 0.9375em; /* 15px equivalent */
}



/* Footer Styles */
.footer-container {
    max-width: 1200px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.footer-container p {
    margin: 0;
    padding: 0;
    color:#fff;
}

@media (max-width: 993px) {
    .navbar-brand {
        position: absolute;
        top: -30px;  /* Adjust this value based on your requirements */
        left: 50%;
        transform: translateX(-50%);
        

    }
    .navbar-toggler {
        position: relative;
        z-index: 1;
    }
}